[user]
name = Erik Price
email = github@erikprice.net

[push]
default = current

[merge]
conflictstyle = diff3

[includeIf "gitdir:code/"]
path = .gitconfig-personal

[includeIf "gitdir:work/"]
path = .gitconfig-work
